<launch>
  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <!-- <param name="dev" type="string" value="/dev/input/js0" /> -->
    <!-- <param name="deadzone" value="0.12" /> -->
    <param name="autorepeat_rate" value="10.0" />
  </node>

  <!-- Axes -->
  <node pkg="vrep_ros_teleop" type="teleop.py" name="teleop">
    <param name="axis_linear_x" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>
    <remap from="/teleop/joy" to="/joy"/>
    <remap from="/teleop/twistCommand" to="/vrep/twistCommand"/>
  </node>

  <!-- Kinect -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" output="screen" respawn="true" args="manager"/>

  <!-- Fake Laser -->
  <node pkg="nodelet" type="nodelet" name="pc_laser" args="load pointcloud_to_laserscan/CloudToScan nodelet_manager" respawn="true">
    <param name="output_frame_id" value="/Hokuyo"/>
    <!-- heights are in the (optical?) frame of the kinect -->
    <param name="min_height" value="-1.00"/>
    <param name="max_height" value="1.00"/>
    <remap from="cloud" to="/vrep/hokuyoSensor"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="/body"/>
    <param name="odom_frame" value="/odom"/>
    <param name="maxRange" value="10.0"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="linearUpdate" value="0.1"/>
    <param name="angularUpdate" value="0.1"/>
    <param name="xmin" value="-15"/>
    <param name="ymin" value="-15"/>
    <param name="xmax" value="15"/>
    <param name="ymax" value="15"/>
  </node>

  <node pkg="robot_control" type="bubble_odom.py" name="odom" output="screen">
  </node>

  <node pkg="topic_tools" type="mux" name="cmd_mux" 
      args="/vrep/twistCommand /teleop/twistCommand /mux/autoCommand">
  </node>

  <node pkg="vrep_ros_teleop" type="teleop_mux.py" name="teleop_mux">
      <param name="joystick_button" value="0" type="int"/>
      <param name="joystick_topic" value="/teleop/twistCommand"/>
      <param name="auto_button" value="1" type="int"/>
      <param name="auto_topic" value="/mux/autoCommand"/>
      <remap from="/teleop_mux/joy" to="/joy"/>
  </node>

</launch>
